{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <!-- Header-->
    {# Mark Domeracki    #}
    <header class="bg py-5">
        <div class="container">
            <div class="mt-5 pt-5 row align-items-center justify-content-lg-center mr-5">
                <div class="col-lg-8 col-xl-7 col-xxl-6">
                    <div class="my-5 text-center">
                         <h1 class="display-5 fw-bolder text-white">Ready to build a website?</h1>
                         <div class="d-grid gap-3 d-sm-flex justify-content-center justify-content-xl-center">
                            <a class="btn btn-primary btn-lg mt-3" href="{% url 'contact' %}">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Features section-->
    <section class="py-5 mt-5" id="features">
        <div class="container px-10 my-10">
            <div class="row gx-1 justify-content-around">
                <div class="col-lg-8">
                    <div class="row gx-lg-5 row-cols-1 row-cols-lg-3">
                        <div class="col mb-5 h-100">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                    class="bi bi-globe"></i></div>
                            <h2 class="h5">Increase Your Visibility</h2>
                            <p class="mb-0">There are over 4.5 billion active internet users worldwide, and over 90% of
                                them accessed the Internet via mobile devices.

                                Without a website, your business is virtually invisible to these people. With COVID-19
                                pushing the global market even more digital, your business will become invisible to
                                those that matter unless you invest in a website.</p>
                        </div>
                        <div class="col mb-5 h-100">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                    class="bi bi-alarm"></i></div>
                            <h2 class="h5">Saving Time</h2>
                            <p class="mb-0">Many businesses gets calls from prospects or existing customers asking
                                simple questions about location and hours of operations. A website can reduce these
                                calls and increase internal productivity.</p>
                        </div>
                        <div class="col mb-5 h-100">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                    class="bi bi-graph-up"></i></div>
                            <h2 class="h5">Generating Leads</h2>
                            <p class="mb-0">Once people find you online they become interested in your products or
                                services and want to know more. When they want to know more, they'll know how to contact
                                you thanks to the information on your website, which gives you the opportunity to
                                increase your sales.</p>
                        </div>
                        <div class="col mb-5 mb-md-0 h-100">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                    class="bi bi-safe"></i></div>
                            <h2 class="h5">Credibility</h2>
                            <p class="mb-0">One of the main reasons you should have a website for your business is to
                                increase your organization's credibility. Chances are there are several providers
                                offering a similar service to yours. One way you can stand out is by having a website
                                that looks good and clearly communicates quality information to your consumers.</p>
                        </div>
                        <div class="col h-100">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                    class="bi bi-vector-pen"></i></div>
                            <h2 class="h5">Advertising</h2>
                            <p class="mb-0">A website is equal to a hundred campaigns. It gives better reach and
                                visibility to the customers. “Know what your customers want most and what your company
                                does best. Focus on where they both meet.</p>
                        </div>
                        <div class="col h-100">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                    class="bi bi-building"></i></div>
                            <h2 class="h5">Essential For Local Businesses</h2>
                            <p class="mb-0">97% of customers use search to find local businesses, 28% of customers purchased an item after a local search and
                                70% of users will visit a store because of what they found online. A business website will help you capture all of this potential and make your business
                                even more profitable..</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog preview section-->
    <section class="py-5">
        <div class="container px-5 my-5 mt-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8 col-xl-6">
                </div>
            </div>
            <div class="row gx-5">
                <div class="col-lg-4 mb-5">
                    <div class="card h-100 shadow border-0">
                        <img class="card-img-top"
                             src="{% static 'images/home_page_images/cup-of-coffee-1280537_640.jpeg' %}" alt="..."/>
                        <div class="card-body p-4">
                            <a class="text-decoration-none link-dark stretched-link" href="#!"><h5
                                    class="card-title mb-3">Accessibility</h5></a>
                            <p class="card-text mb-0">A successful business will always keep their customers’ best
                                interest in mind and plan the business accordingly. But what is the use of it if they are
                                not reachable from anywhere and at any time? A website is the best way to keep a
                                business functional and lucrative 24/7.</p>
                        </div>
                        <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                            <div class="d-flex align-items-end justify-content-between">
                                <div class="d-flex align-items-center">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-5">
                    <div class="card h-100 shadow border-0">
                        <img class="card-img-top" src="{% static 'images/home_page_images/office-730681_640.jpeg' %}"
                             alt="..."/>
                        <div class="card-body p-4">
                            <a class="text-decoration-none link-dark stretched-link" href="#!"><h5
                                    class="card-title mb-3">Announcements</h5></a>
                            <p class="card-text mb-0">Since your website is on 24/7, it's easy to post updates and
                                announcements to your customers. It's a way to keep them up to date on everything that
                                you're doing. When something is particularly relevant to them, it increases the chance
                                of you being able to upsell them.</p>
                        </div>
                        <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                            <div class="d-flex align-items-end justify-content-between">
                                <div class="d-flex align-items-center">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-5">
                    <div class="card h-100 shadow border-0">
                        <img class="card-img-top"
                             src="{% static 'images/home_page_images/digital-marketing-1433427_640.jpeg' %}" alt="..."/>
                        <div class="card-body p-4">
                            <a class="text-decoration-none link-dark stretched-link" href="#!"><h5
                                    class="card-title mb-3">Increasing Traffic</h5></a>
                            <p class="card-text mb-0">Once you're online and have an SEO-optimized website, you have a
                                chance of showing up in Google search results. This means that when people are searching
                                for a product or service, there is a chance your website will show up in the results.
                                This gives you the opportunity to drastically increase your customer base.</p>
                        </div>
                        <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                            <div class="d-flex align-items-end justify-content-between">
                                <div class="d-flex align-items-center">
                                    <div class="small">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Call to action-->
            <aside class="bg-primary bg-gradient rounded-3 p-4 p-sm-5 mt-5">
                <div class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
                    <div class="mb-4 mb-xl-0">
                        <div class="fs-3 fw-bold text-white">Sign up for our newsletter</div>
                        <div class="text-white-50">Sign up for our newsletter for the latest updates.</div>
                    </div>
                    <div class="ms-xl-4">
                        <div class="input-group mb-2">
                            <form method="post" action='{% url 'thankyou' %}'>
                                {% csrf_token %}
                                <input required name="signup" class="form-control" type="text" placeholder="Email address..."
                                       aria-label="Email address..." aria-describedby="button-newsletter"/>
                                <button class="btn btn-outline-light mt-3" id="button-newsletter" type="submit">Sign
                                    up
                                </button>
                            </form>
                        </div>
                        <div class="small text-white-50">We care about privacy, and will never share your data.</div>
                    </div>
                </div>
            </aside>
        </div>
    </section>
{% endblock %}