<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
<div class="jumbotron text-center align-middle pt-5">
  <h1 class="display-3">Thank You!</h1>
  <p class="lead"><strong>Your newsletter request has been submitted.</strong></p>
  <hr>
  <p class="lead">
    <a class="btn btn-primary btn-sm"  href="{% url "home" %}" role="button">Continue to homepage</a>
  </p>
</div>